@import "../../global.scss";

.Education{
    background-color: #4ea8de;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
    
    h1{
        margin-top: 100px;
        display: flex;
        position: absolute;
        align-self: flex-start;
        justify-self: flex-start;
    }

    .slider{
        height: 400px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1.3s ease-out;
        
        .inanimation{
            animation: slidesanimation 1.3 ease;
            @keyframes slidesanimation {
                50%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                margin: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                width: 700px;
                height: 90%;
                background-color: rgb(19, 41, 102);
                border-radius: 20px;
                border: 5px solid rgb(27, 20, 90);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;

                .imgcontainer{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    overflow: hidden;
                    background-color: rgb(31, 31, 31);
                    img{
                        object-fit: cover;
                        opacity: 0.4;
                    }
                }
                .paneltitle{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding:20px;
                    font-weight: 600;
                    font-size: 20px;
                    transition: all 0.35s;
                    h2{
                        color: whitesmoke;
                    }
                    h3{
                        left: 0;
                        bottom: 0;
                        color: whitesmoke;
                    }
                }
                &:hover .paneltitle{
                    font-size: 23px;
                }
            }
        }
    }
    .navigation{
        display: flex;
        position: absolute;
        &.leftarrow{
            left: 300px;
        }
        &.rightarrow{
            right: 300px;
        }
    }
}