@import '../../global.scss';

.gradient{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #CC2366 25%, #BC1888 50%, #384BDD 75%, #00D0FF 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
    background: linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#00D0FF',GradientType=1 ); 
    background-size: 300%;
    animation: bganimation 15s infinite;
}

.contact{
    background:rgb(32, 32, 32);
    width: 100%;
    display: flex;
    flex-direction: column;

    .top{
        padding-top: 60px;
        flex: 5;
        display: flex;
        align-content: right;
        justify-content: flex-end;

        @include mobile{
            padding-top: 25px;
            flex: 4;
        }

        .contact_text{
            color: white;
            display: flex;
            flex: 5;
            flex-direction: column;
            margin-left: 80px;

            @include mobile{
                margin-left: 25px;
                padding-right: 20px;
            }
            
            .heading{
                font-size: 80px;
                margin-bottom: 30px;
                @include mobile{
                    font-size: 13vw;
                }
            }
            h2{
                font-size: 40px;
                color: white;
                overflow: hidden;
                span{
                    font-size: 50px;
                    color: transparent;
                    background-clip: text;

                    @include mobile{
                        font-size: 10vw;
                    }
                }

                @include mobile{
                    font-size: 6.5vw;
                }
            }
        }


        .arrow{
            flex: 3;
            width: 100%;
            padding-right: 60px;
            padding-top: 120px;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            @include mobile{
                display: none;
            }
        }

        .logocontainer{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            justify-items: center;
            
            @include mobile{
                height: 30vh;
            }

            >*{
                cursor: pointer;
                margin-right: 40px;
                transition: all 0.35s ease;
                &:hover{
                    box-shadow: 2px 4px 0px 1px rgba(255, 255, 255, 0.979);
                }

                @keyframes bganimation {
                    0%{
                    background-position: 0% 50%;
                    }
                    50%{
                    background-position: 100% 50%;
                    }
                    100%{
                    background-position: 0% 50%;
                    }
                }

                @include mobile{
                    margin-right: 15px;
                    margin-bottom: 0px;
                }
            }

            .instalogocontainer{
                height: 80px;
                width: 80px;
                border: solid 2px white;
                border-radius: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #CC2366 25%, #BC1888 50%, #384BDD 75%, #00D0FF 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
                background: linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#00D0FF',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .insta-logo{
                    color: white;
                    font-size: 90px;
                }

                @include mobile{
                    height: 50px;
                    width: 50px;
                    border-radius: 16px;
                    .insta-logo{
                        color: white;
                        font-size: 56px;
                    }
                }
            }

            .linkdinlogocontainer{
                height: 72px;
                width: 72px;
                border: solid 2px white;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                overflow: hidden;

                background: #f09433; 
                background: -moz-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: -webkit-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4d8', endColorstr='#03045e',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .linkdin-logo{
                    color: white;
                    font-size: 90px;
                }

                @include mobile{
                    height: 50px;
                    width: 50px;
                    border-radius: 10px;
                    margin-left: 0px;
                    
                    .linkdin-logo{
                        color: white;
                        font-size: 60px;
                    }
                }
            }

            .githublogocontainer{
                height: 80px;
                width: 80px;
                border: solid 2px white;
                border-radius: 46px 46px 43px 43px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                background: -moz-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: -webkit-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4d8', endColorstr='#03045e',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .github-logo{
                    color: white;
                    font-size: 75px;  
                }

                @include mobile{
                    height: 50px;
                    width: 50px;
                    border-radius: 46px 46px 43px 43px;

                    .github-logo{
                        color: white;
                        font-size: 48px;
                    }
                }
            }
        }
        
    }

    .bottom{
        flex: 5;
        display: flex;

        @include mobile{
            flex-direction: column;
            flex: 6;
        }

        .left{
            flex: 4;
            @include mobile{
                flex: 6;
            }
            .contactform{
                display: flex;
                flex-direction: column;
                width: 40vw;
                margin-left: 70px;
                padding-left: 10px;
                padding-top: 5px;
                padding-right: 5px;
                
                @include mobile{
                    width: 80vw;
                    margin-left: 0px;
                    padding-left: 0px;
                    padding-top: 0px;
                    padding-right: 0px;
                }

                >*{
                    border-radius: 5px;
                }
                span{
                    padding-top: 5px;
                    align-self: center;
                    color: white;
                }

                .messagebox{
                    resize:none ;
                    height: auto;
                    padding: 20px;

                    @include mobile{
                        padding:10px;
                        height: auto;
                    }
                }
        
                .submitbutton{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    padding: 5px;
                    margin: 20px 0px 0px 0px;
                    font-weight: 800;
                    border-radius: 5px;
                    
        
                    .sendicon{
                        margin-left: 5px;
                    }
                }
        
                input{
                    margin-bottom: 30px;
                    padding: 20px;

                    @include mobile{
                        padding:10px;
                        margin-bottom: 20px;
                    }
                }
            }

            @include mobile{
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }   
        }

        .right{
            flex: 4;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img{
                width: 70%;
                height: auto;
            }

            @include mobile{
                flex: 4;
            }
        }
    }
    
}