

.gradient{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #CC2366 25%, #BC1888 50%, #384BDD 75%, #00D0FF 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
    background: linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#00D0FF',GradientType=1 ); 
    background-size: 300%;
    animation: bganimation 15s infinite;
}

.contact{
    background:rgb(32, 32, 32);
    // color: rgb(86, 219, 236);
    .top{
        display: flex;
        align-content: right;
        justify-content: flex-end;
        margin-top: 80px;

        .contact_text{
            color: white;
            display: flex;
            flex: 5;
            flex-direction: column;
            margin-left: 80px;
            
            .heading{
                font-size: 80px;
                margin-bottom: 30px;
            }
            h2{
                font-size: 40px;
                color: white;

                span{
                    font-size: 50px;
                    color: transparent;
                    background-clip: text;
                }
            }
        }


        .arrow{
            flex: 3;
            width: 100%;
            padding-right: 60px;
            padding-top: 120px;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .logocontainer{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            justify-items: center;
            

            >*{
                cursor: pointer;
                margin-right: 40px;
                margin-bottom: 40px;
                transition: all 0.35s ease;
                &:hover{
                    box-shadow: 2px 4px 0px 1px rgba(255, 255, 255, 0.979);
                }

                @keyframes bganimation {
                    0%{
                    background-position: 0% 50%;
                    }
                    50%{
                    background-position: 100% 50%;
                    }
                    100%{
                    background-position: 0% 50%;
                    }
                }
            }

            .instalogocontainer{
                height: 88px;
                width: 88px;
                border: solid 2px white;
                border-radius: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #CC2366 25%, #BC1888 50%, #384BDD 75%, #00D0FF 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
                background: linear-gradient(45deg, #f09433 0%,#CC2366 25%,#BC1888 50%,#384BDD 75%,#00D0FF 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#00D0FF',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .insta-logo{
                    color: white;
                    font-size: 100px;
                }
            }

            .linkdinlogocontainer{
                height: 80px;
                width: 80px;
                border: solid 2px white;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                overflow: hidden;

                background: #f09433; 
                background: -moz-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: -webkit-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4d8', endColorstr='#03045e',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .linkdin-logo{
                    color: white;
                    font-size: 100px;
                }
            }

            .githublogocontainer{
                height: 90px;
                width: 90px;
                border: solid 2px white;
                border-radius: 46px 46px 43px 43px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                background: -moz-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: -webkit-linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                background: linear-gradient(45deg, #00b4d8 0%, #0077b6 50%, #03045e 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4d8', endColorstr='#03045e',GradientType=1 ); 
                background-size: 300%;
                animation: bganimation 15s infinite;

                .github-logo{
                    color: white;
                    font-size: 85px;  
                }
            }
        }
        
    }

    .contactform{
        display: flex;
        flex-direction: column;
        width: 40vw;
        margin-left: 80px;
    
        .messagebox{
            width: 40vw;
            height: 60px;
            padding: 20px;
        }

        .submitbutton{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 5px;
            margin: 20px 0px 0px 0px;
            font-weight: 800;

            .sendicon{
                margin-left: 5px;
            }
        }

        input{
            margin-bottom: 30px;
            padding: 20px;
        }
    }
}