@import "../../global.scss";

.animated-background{
    cursor: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0090a3;
    overflow: hidden;

    .intro{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @include mobile{
            flex-direction: column;
            align-items: center;
        }

        .left{
            padding: 100px;
            flex: 0.5;
            background-color:inherit;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include mobile{
                padding-bottom: 0px;
                padding-top: 70px;
                flex: 0.4;
            }

            .imgcontainer{
                overflow: hidden;
                width: 35vw;
                height: 35vw;
                background-color: $contrast;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                @include mobile{
                    width: 30vh;
                    height: 30vh;
                }

                .img{
                    height: 90%;

                    @include mobile{
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
        .right{
            flex: 0.5;
            overflow: hidden;

            @include mobile{
                flex: 0.6;
                margin-top: 5vh;
            }
            .wrapper{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                margin-top: 30%;
                font-size: 4.5vh;

                @include mobile{
                    margin-top: 10px;
                    font-size: 6vw;
                    align-items: center;
                }

                >*{
                    padding-left: 5px;
                }
                
                h1{
                    color: rgb(255, 241, 202);
                }

                h3{
                    @include mobile{
                        text-align: center;
                    }
                    
                    span{
                        font-size: 8.5vh;
                        color: $contrast;

                        @include mobile{
                            font-size: 12vw;
                        }
                    }
                    .ityped-cursor {
                        font-size: 65px;
                        opacity: 1;
                        -webkit-animation: blink 0.5s infinite;
                        -moz-animation: blink 0.5s infinite;
                        animation: blink 0.5s infinite;
                        animation-direction: alternate;

                        @include mobile{
                            font-size: 42px;
                        }
                    }
                     
                    @keyframes blink {
                        100% {
                            opacity: 0;
                        }
                    }
                     
                    @-webkit-keyframes blink {
                        100% {
                            opacity: 0;
                        }
                    }
                     
                    @-moz-keyframes blink {
                        100% {
                            opacity: 0;
                        }
                    }
                }
    
                .downarrow{
                    color: white ;
                    font-size: large;
                    bottom: 10px;
                    position: absolute;
                    animation: arrowBlink 1.5s infinite;

                    @include mobile{
                        align-self: center;
                    }
                }
                @keyframes arrowBlink {
                    80%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                        bottom: 3px;
                    }
                }
            }
        }
    }
}
